h2 {
    text-align: center;
    color: $blue;
}
.students {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .student {
        flex-basis: 45%;
        color: $blue;
        text-decoration: none;
        margin-bottom: 2rem;
        padding: 1rem;
        background: $gray;
        h3 {
            margin-bottom: 1rem;
        }
        img {
            width: 25%;
            float: left;
            margin-right: 1rem;
        }
        &_info::after {
            content: '';
            display: table;
            clear: both;
        }
        p {
            margin-bottom: 1rem;
        }
        p:last-of-type {
            margin-top: 5rem;
            text-align: justify;
        }
    }
}